*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/* Nav Menu */

/* Button styling */
.menu-toggle {
  color: white;
  font-size: 2em;
 
}

/*
 Default styles + Mobile first
 Offscreen menu style
*/

.main-menu {
  position: absolute;
  display: none;
  left: 200px;
  top: 0;
  height: 100%;
    overflow-y: scroll;
	overflow-x: visible;
	transition: left 0.3s ease,
				      box-shadow 0.3s ease;
	z-index: 999;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 2.5em 0 0;
  /* Hide shadow w/ -8px while 'closed' */
  -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
     -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
          box-shadow: -8px 0 8px rgba(0,0,0,.5);
  min-height: 100%;
  width: 200px;
  background: green;
  }

.main-menu a {
  display: block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: white;
  text-decoration: none;
  border-bottom: 1px solid black;
}

.main-menu li:first-child a {
  border-top: 1px solid black;
}

.main-menu a:hover,
.main-menu a:focus {
  text-decoration: underline;
}

.main-menu .menu-close {
  position: absolute;
  justify-content: center;
  top: 0;
}

/*
 On small devices, allow it to toggle...
*/

/*
 :target for non-JavaScript
 [aria-expanded] will be used if/when JavaScript is added to improve interaction, though it's completely optional.
*/
.main-menu:target,
.main-menu[aria-expanded="true"] {
  display: block;
  left:0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  box-shadow: 3px 0 12px rgba(0,0,0,.25);
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

/* 
 We could us `.main-menu:target:after`, but
 it wouldn't be clickable.
*/
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop{
  position: absolute;
  display: block;  
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #000;
  background: rgba(0,0,0,.85);
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop{
    position: fixed;
  }
}

/*
 Larger screen styling
 Horizontal menu
*/
@media (min-width: 768px) {
  .menu-toggle,
  .main-menu .menu-close {
    display: none;
  }
  
  
  /* Undo positioning of off-canvas menu */
  .main-menu {
    position: relative;
		left: auto;
		top: auto;
		height: auto;
    display: block;
  }
  
  .main-menu ul {
    display: flex;
    
    /* Undo off-canvas styling */
    padding: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    height: auto;
    width: auto;
    background: none;
  }
  
  .main-menu a {
    color: white;
    float: right;
    border: 0 !important; /* Remove borders from off-canvas styling */
  }
  
  .main-menu a:hover,
  .main-menu a:focus {
    background: none; /* Remove background from off-canvas styling */
    color: yellow;
  }
}

/* End of copied */


.page{
	display: flex;
	flex-wrap: wrap;
}

.section-menu{
	width: 100%;
	height: 80px; 
	color: white;
	display: block;
	background: forestgreen;
}
/*
    Special announcments. Run at bottom of page.
    */

.special{
	    width: 100%;
	    background: #ff0000;
	    font-size: larger;
	    font-weight: bold;
	    color: white;
	    text-align: center;
    }


header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: green;
	width: 100%;
	padding: 1em;
}

blockquote{
	padding-left: 1em;
}


h1,
h2{
	padding-left: 10px;
	font-size: 20px;
}

li{
	padding: .75em;
}

p{
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: .5em;
	font-size: large;
}

a{
	color: white;
}

a.nav{
	color: blue;
}

a:hover,
a.nav:hover{
	color: black;
	background-color: yellow;
}

figcaption{
	text-align: center;
	font-size: small;
	padding-bottom: 2em;
	padding-top: -3em;
}

footer{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 1em;
	padding-top: 1em;
}



td{
	padding-left: .25em;
	padding-right: .25em;
}

.about{
	display: flex;
	flex-wrap: wrap;
	background-color: #EAEDF0;
	padding-top: 1em;
	padding-left: 2em;
	padding-right: 1em;
}

.title{
	text-align: center;
	width: 100%;
}


.faith,
.five-gs{
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
}

.final{
	background-color: green;
	width: 100%;
	color: white;
	text-align: center;
	padding-top: 2em;
	padding-bottom: 1em;
}

.google-calendar{
	width:100%;
}

.main-left__faith{
	width: 80%;
	padding-right: 1em;
}

/* Home Page */
.section-main {
	background-color: #EAEDF0;
}
.main{
	background-color: #EAEDF0;
	padding-top: 1em;
	display: flex;
	flex-wrap: wrap;
}

.services{
	width: 100%;
	background-color: green;
	display: flex;
	flex-wrap: wrap;
	color: white;
	padding: 1em;
}
.tbl-sunday,
.tbl-wednesday{
	padding-top: .5em;
	padding-bottom: 1em;
}

.header{
	padding: 15px;
	width: 100%;
	background-color: blue;
	color: white;
}

.highlights{
	background-color: #EAEDF0;
	display: flex;
	flex-wrap: wrap;
}


.section-bottom{
	color: white;
	text-align: center;
	background-color: darkgreen;
	width: 100%;
	padding-top: 2em;
	padding-bottom: 2em;
}

/* Awana Clubs */
.awana{
	padding: 1em;
	background-color: #EAEDF0;
	display: flex;
	flex-wrap: wrap;
}

/* Contact Page */
.contact-main{
	padding: 1em;
	color: white;
	background-color: green;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	width: 100%;
}

/* Calendar Page */
.g-cal{
	padding: 1em;
	width: 100%;
	display: flex;

}

/* Events Page */
.events-main{
	background-color: #EAEDF0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

/* Slides / Timer Page */
.weather-info{
	display: flex;
	width: 100%;
}

.indoor-temp,.outdoor-temp{
	width:50%;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
	*{margin: 2px;}
	.photos{
		display: none;
	}
	.footer-copyRight,
	.footer-social{
		width: 100%;
		justify-content: center;
	}
	
	
			
	.faith,
	.five-gs{
		width: 100%;
		text-align: left;
	}
	
	.purpose,
	.commandment,
	.commission{
		width: 100%;
	}
	
	.main_nav{
		display: none;
	}
	
	/* Contact Page */
	.addr-physical,
	.addr-mail,
	.contact-tbl{
		width: 100%;
	}
	
	.addr-physical,
	.addr-mail{
		text-align: center;
	}
	
	.contact-tbl{
		padding-left: 10%;
	}
	
	
	/* Awana Clubs */
	.mission,
	.meetings
	.ages{
		width: 100%;
	}
	
	/* Events Page */
	.events-fig,
	.events-info{
		width: 100%;
	}

}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 900px) {
	
	.photos{
		align-content: center;
		width:auto;
	}
	
	.footer-copyRight,
	.footer-social{
		width: 100%;
		justify-content: center;
		text-align: center;
	}
	
	/* About */	
	.faith,
	.five-gs{
		width: 100%;
		text-align: left;
	}
	
	.purpose,
	.commandment,
	.commission{
		width: 100%;
		padding-bottom: 1em;
		padding-right: 1em;
		text-align: center;
	}
	
	/* Home Page */
	.tbl-sunday,
	.tbl-wednesday{
		width: 50%;
		margin-left: 25%;
	}
	
	
	/* Contact Page */
	
	.addr-physical,
	.addr-mailing{
		width: 50%;
	}
	
	.contact-tbl{
		width: 33%;
		padding: 2em;
		text-align: left;
		margin-left: 25%;
	}
	
	/* Awana Clubs */
	.mission,
	.meetings{
		width: 50%;
	}
	.ages{
		margin-left: 25%;
	}
	
	/* Events Page */
	.events-fig,
	.events-info{
		width: 50%;
	}
	
	
	
}


/* Desktop Styles */
@media only screen and (min-width: 901px){
	.page{
		width: 960px;
		margin: 0 auto;
	}
	

	.section-header{
		height: auto;
	}
	
	.footer-copyRight{
		width: 80%
	}
	
	
	.footer-social{
		width: 20%;
		justify-content: flex-end;
	}
	
	/* About */	
	
	.faith{
		width: 80%;
	}
	.five-gs{
		width: 20%;
		
	}
	
	.section-tables{
		width: 100%;
	}
	.purpose,
	.commandment,
	.commission{
		width: 33.333%;
		padding-right: 1em;
	}
	
	/* Home Page */
	.tbl-sunday,
	.tbl-wednesday{
		width: 40%;
	}
	
	.tbl-sunday{
		margin-left: 10%;
	}
	
	.main-left,
	.main-right{
		width: 50%;
	}
	
	/* Contact Page */
	.addr-physical,
	.addr-mailing,
	.contact-tbl{
		width: 33.3333%;
	}
	
	/* Awana Clubs */
	.mission,
	.ages,
	.meetings{
		width: 33.333%;
		align-content: left;
	}
	
	/* Events Page */
	.events-fig,
	.events-info{
		width: 50%;
	}
	
	
	
}