@charset "UTF-8";
body{
	background-color: forestgreen; 
}

a{
	color: #2B14FD;
}

h1{
	font-size: 24;
	text-align: right;
}

h1 span{
	background-color: forestgreen;
}

h2{
	font-size: 22;
	text-align: center;
}

h2 span{
	background-color: forestgreen;
}

h3{
	font-size: 18;
	text-align: center;
}

h3 span{
	background-color: forestgreen;
}

p{
	font-size: 14;
	text-align: center;
}

p span{
	background-color: forestgreen;
}

blockquote{
	font-size: 14;
	text-align: left;
	background-color: forestgreen;
}

form{
	width: 400px;
	background-color: forestgreen;
	font-size: 28px;
	border-radius: 5px;
	padding: 10px;
	border: 1px solid black;
	box-shadow: 0px 8px 8px rgba(0,0,0,0.3);
}


ul{
	font-size: 14;
	display: table;
	margin: 0 auto;
	background-color: forestgreen;
}

ol{
	font-size: 14;
	display: list-item;
	margin: 0 auto;
	text-align: left;
	background-color: forestgreen;
}

footer{
	background-color: #006400; /* dark green */
	color: white; 
	text-align: center;
}

nav{
	text-align: center;
	
}

#contactForm{
	align-content: center;
}

table{
	margin: auto;
	background-color: forestgreen;
	width: 340px;
}

.index{
	width: 740px;
	height: 800px;
	margin-top: 5px;
	overflow: scroll;
	background-image: url("media/crosses_750x950.png");
	background-attachment: fixed;
}

.about{
	width: 740px;
	height: 800px;
	margin-top: 5px;
	overflow: scroll;
	background-image: url("media/church-sign_750x950.png");
	background-attachment: fixed;
}

.awana{
	width: 740px;
	height: 800px;
	margin-top: 5px;
	overflow: scroll;
	background-image: url("media/awana_750x950.png");
	background-attachment: fixed;
}

.contact{
	width: 740px;
	height: 800px;
	margin-top: 5px;
	overflow: scroll;
	background-image: url("media/contact_750x950.png");
	background-attachment: fixed;
}

.events{
	width: 740px;
	height: 800px;
	margin-top: 5px;
	overflow: scroll;
	background-image: url("media/events_750x950.png");
	background-attachment: fixed;
}

.center{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

