*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.page{
	display: flex;
	flex-wrap: wrap;
}

.section{
	width: 100%;
	height: auto; 
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu{
	background-color: forestgreen;
	height: 80px;
}

.header{
	width: 100%;
}

.sectionHeader{
	width: auto;
}

.content {
	display: inline;
	background-color: #EAEDF0;
	height: auto;
}

.content-left{
	background-color: #EAEDF0;
}

.form{
	box-sizing: border-box;
}

.tblLeft{
	background-color: green;
	height:auto;
	
}

.tblRight {
	background-color: darkgreen;
	height: auto;
	color: white;
}
.feature-1,
.feature-3{
	background-color: green;
	height: auto;
}

.feature-2{
	background-color: darkgreen;
	height: auto;
	color: white;
}


.footer{
	background-color: forestgreen;
	color: white;
	align-content: center;
}


/* Mobile Styles */
@media only screen and (max-width: 400px) {
	.photos{
		display: none;
	}
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 900px) {
	.tblLeft,
	.tblRight{
		width: 50%;
	}
	.photos{
		align-content: center;
		width:auto;
	}
}


/* Desktop Styles */
@media only screen and (min-width: 961px){
	.page{
		width: 960px;
		margin: 0 auto;
	}
	
	.tblLeft,
	.tblRight,
	.content-left,
	.content-right{
		width: 50%;
		align-content: center
	}
	
	.feature-1,
	.feature-2,
	.feature-3{
		width: 33%;
		align-content: left;
		display: block;
	}
	
	.header{
		height: auto;
	}
}