*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.page{
	display: flex;
	flex-wrap: wrap;
}

.p {
	margin: 2px;
}

.section{
	width: 100%;
	height: auto; 
	display: flex;
	justify-content: center;
	align-items: center;
}

.endOfPage{
	width: 100%;
	justify-content: center;
	color: white;
	background-color: darkgreen;
	padding-top: 3em;
	padding-bottom: 1em;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	
}

.container-features{
	width:100;
	display: inline-flex;
	flex-wrap: wrap;
	
}

.content-left,
.content-right{
	padding: 15px;
}

.menu{
	background-color: forestgreen;
	height: 80px;
	color: white;
}

a{
	color: white;
}

a.nav{
	color: blue;
}

a:hover,
a.nav:hover{
	color: black;
	background-color: yellow;
}

.center{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}


.header{
	padding: 15px;
	width: 100%;
}

.sectionHeader{
	width: 100%;
	text-align: center;
}

.content {
	padding: 15px;
	display: inline;
	background-color: #EAEDF0;
	height: auto;
}

.content-left{
	background-color: #EAEDF0;
}

.endofPage{
	color: white;
	text-align: center;
	background-color: darkgreen;
	width: 100%;
	padding-top: 2em;
	padding-bottom: 2em;
}

.form{
	box-sizing: border-box;
}

.footer{
	width: 100;
	display: flex;
	flex-wrap: wrap;
	padding-left: 2em;
	padding-top: 1em;
	padding-bottom: 2em;
}

.featureTitle{
	text-decoration: underline;
	padding-top: 1em;
	text-align: center;
}

.featureContent{
	padding-top: 1em;
}

.feature-1,
.feature-2,
.feature-3{
	display: flex;
	align-content: center;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 1em;
	padding-bottom: 1em;
}

.featContent{
	padding-left: 1em;
}

.feature-1,
.feature-3{
	background-color: green;
	color: white;
}

.feature-2{
	background-color: darkgreen;
	color: white;
}


.tblLeft{
	background-color: green;
	height:auto;
	color: white;
	
}

.tblRight {
	background-color: darkgreen;
	height: auto;
	color: white;
}

.socialMedia{
	display: flex;
}



/* Mobile Styles */
@media only screen and (max-width: 400px) {
	*{margin: 2px;}
	.photos{
		display: none;
	}
	.copyRight,
	.socialMedia{
		width: 100%;
		justify-content: center;
	}
	

}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 900px) {
	.tblLeft,
	.tblRight{
		width: 50%;
	}
	.photos{
		align-content: center;
		width:auto;
	}
	
	.copyRight,
	.socialMedia{
		width: 100%;
		justify-content: center;
		text-align: center;
	}
	
	
}


/* Desktop Styles */
@media only screen and (min-width: 901px){
	.page{
		width: 960px;
		margin: 0 auto;
	}
	
	.tblLeft,
	.tblRight,
	.content-left,
	.content-right{
		width: 50%;
		align-content: center
	}
	
	.feature-1,
	.feature-2,
	.feature-3{
		width: 33.333%;
		align-content: left;
		display: block;
	}
	

	.header{
		height: auto;
	}
	
	
	.socialMedia{
		width: 50%;
		justify-content: flex-end;
		
	}
	
	
}