*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.page{
	display: flex;
	flex-wrap: wrap;
}

.section-menu{
	width: 100%;
	height: 80px; 
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	background: forestgreen;
}

header{
	padding: 15px;
	width: 100%;
	background-color: green;
	color: white;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
blockquote{
	padding-left: 1em;
}


h1,
h2{
	padding-left: 10px;
	font-size: 20px;
}

li{
	padding: .75em;
}

p{
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: .5em;
	font-size: large;
}

a{
	color: white;
}

a.nav{
	color: blue;
}

a:hover,
a.nav:hover{
	color: black;
	background-color: yellow;
}

figcaption{
	text-align: center;
	font-size: small;
	padding-bottom: 2em;
	padding-top: -3em;
}

footer{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 1em;
	padding-top: 1em;
}



td{
	padding-left: .25em;
	padding-right: .25em;
}

.about{
	display: flex;
	flex-wrap: wrap;
	background-color: #EAEDF0;
	padding-top: 1em;
	padding-left: 2em;
	padding-right: 1em;
}

.title{
	text-align: center;
	width: 100%;
}

.endOfPage{
	width: 100%;
	justify-content: center;
	color: white;
	background-color: darkgreen;
	padding-top: 3em;
	padding-bottom: 1em;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	
}

.faith,
.five-gs{
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
}

.final{
	background-color: green;
	width: 100%;
	color: white;
	text-align: center;
	padding-top: 2em;
	padding-bottom: 1em;
}

.google-calendar{
	width:100%;
}

.main-left__faith{
	width: 80%;
	padding-right: 1em;
}

/* Home Page */
.section-main {
	background-color: #EAEDF0;
}
.main{
	background-color: #EAEDF0;
	padding-top: 1em;
	display: flex;
	flex-wrap: wrap;
}

.services{
	background-color: green;
	display: flex;
	flex-wrap: wrap;
	color: white;
	padding: 1em;
}
.tbl-sunday,
.tbl-wednesday{
	padding-top: .5em;
	padding-bottom: 1em;
}

.header{
	padding: 15px;
	width: 100%;
	background-color: blue;
	color: white;
}

.highlights{
	background-color: #EAEDF0;
	display: flex;
	flex-wrap: wrap;
}


.section-bottom{
	color: white;
	text-align: center;
	background-color: darkgreen;
	width: 100%;
	padding-top: 2em;
	padding-bottom: 2em;
}

/* Contact Page */
.contact-main{
	padding: 1em;
	color: white;
	background-color: green;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	width: 100%;
}

/* Calendar Page */
.g-cal{
	padding: 1em;
	width: 100%;
	display: flex;

}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
	*{margin: 2px;}
	.photos{
		display: none;
	}
	.footer-copyRight,
	.footer-social{
		width: 100%;
		justify-content: center;
	}
			
	.faith,
	.five-gs{
		width: 100%;
		text-align: left;
	}
	
	.purpose,
	.commandment,
	.commission{
		width: 100%;
	}
	
	/* Contact Page */
	.addr-physical,
	.addr-mailing{
		width: 50%;
	}
	
	.contact-tbl{
		width: 33%;
		padding: 2em;
		text-align: left;
		margin-left: 25%;
	}
	
	

}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 900px) {
	
	.photos{
		align-content: center;
		width:auto;
	}
	
	.footer-copyRight,
	.footer-social{
		width: 100%;
		justify-content: center;
		text-align: center;
	}
	
		
	.faith,
	.five-gs{
		width: 100%;
		text-align: left;
	}
	
	.purpose,
	.commandment,
	.commission{
		width: 100%;
		padding-bottom: 1em;
		padding-right: 1em;
		text-align: center;
	}
	
	/* Home Page */
	.tbl-sunday,
	.tbl-wednesday{
		width: 50%;
		margin-left: 25%;
	}
	
	
	/* Contact Page */
	
	.addr-physical,
	.addr-mailing{
		width: 50%;
	}
	
	.contact-tbl{
		width: 33%;
		padding: 2em;
		text-align: left;
		margin-left: 25%;
	}
	
	
}


/* Desktop Styles */
@media only screen and (min-width: 901px){
	.page{
		width: 960px;
		margin: 0 auto;
	}
	
	.faith{
		width: 80%;
	}
	.five-gs{
		width: 20%;
		
	}
	
	.section-tables{
		width: 100%;
	}
	
	.mission,
	.ages,
	.meetings{
		width: 33.333%;
		align-content: left;
	}
		

	.section-header{
		height: auto;
	}
	
	.footer-copyRight{
		width: 80%
	}
	
	
	.footer-social{
		width: 20%;
		justify-content: flex-end;
	}
		
	.purpose,
	.commandment,
	.commission{
		width: 33.333%;
		padding-right: 1em;
	}
	
	/* Home Page */
	.tbl-sunday,
	.tbl-wednesday{
		width: 40%;
	}
	
	.tbl-sunday{
		margin-left: 10%;
	}
	
	.main-left,
	.main-right{
		width: 50%;
	}
	
	/* Contact Page */
	.addr-physical,
	.addr-mailing,
	.contact-tbl{
		width: 33.3333%;
	}
	
	
}