/* style page content */
.main {
	margin-left: 160px;  /* same as the width of the sidebar */
	padding: 0px 10px;
	display: block;
	margin-bottom: -50px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on 
  (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/* Add icons to collapsible buttons */
.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* forms */
form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 500px;
  /* Form outline */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
	margin-top: 1em;
}

label {
	display: inline-block;
	width: 100px;
	text-align: right;
}


input, 
checkbox,
textarea,
select,
phone {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 390px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}

input:focus, 
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 130px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: .5em;
}


h2{
	background-color: #dfdfdf; /* light-grey background */
	text-align: center;
}

.sub{
	display: block;
	align-content: center;
}

.double{
	display: flex;
	flex-wrap; wrap;
	padding-left: 20px;
	padding-right: 20px;
}


/* Header */
.header{
	height: 200;
	width: 100%;
	background-color: #349c0f; /* dark green */
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	display: block;
	text-align: center;
}

/* center content */
.ctr{
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Sidebar Menu */
.sidenav{
	text-align: center;
	height: auto;
	width: 160px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #60FB28; /*neon green*/
	overflow-x: hidden; /* disable horizontal scroll */
	padding-top: 10px;
	padding-bottom: 10px;
}

/* navigation menu links */
.sidenav a{
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 18px;
	color: #000000; /* black */
	display: block;
}

/* change nav links on mouse over */
.sidenav a:hover{
	color: #f1f1f1;
}

		
/* style paypal button */
.paypal{
	text-align: center;
}

		
/* style footer */
.footer{
	
	background-color: #349c0f; /* dark green */
	width: 100%;
	padding-bottom: 1em;
	padding-top: 1em;
	text-align: center;
	
}



/* on smaller screens, where height is less than 450px, change the style of the sidebar
 (less padding and a smaller font size) */

/* Modify form on smaller screens */
@media screen and (max-width: 600px)   
	.label, .form-group, input[type=submit]{
	  width:100%;
	  margin-top:0;
  	}	
  	
